:root{
    --clr1:hsl(300, 43%, 22%);
    --clr2:hsl(333, 80%, 67%);
    --clr3:hsl(303, 10%, 53%);
    --clr4:hsl(300, 24%, 96%);
    --clr5:hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "spartian-R";
    src: url(font/LeagueSpartan-Regular.ttf);
}

@font-face {
    font-family: "spartian-M";
    src: url(font/LeagueSpartan-Medium.ttf);
}

@font-face {
    font-family: "spartian-B";
    src: url(font/LeagueSpartan-Bold.ttf);
}

@media (max-width: 575.98px){
    body{
        background: url("./image/bg-pattern-top-mobile.svg") no-repeat top left,url("./image/bg-pattern-bottom-mobile.svg") no-repeat bottom right !important;
    }
    .sec-one{
        flex-direction: column;
    }
    .rate{
        margin: 0.5rem 0 1rem;
    }
    .text,.rated{
        width: 100% !important;
    }
}

body{
    min-height: 100vh;
    display: flex;
    background:url("./image/bg-pattern-top-desktop.svg") no-repeat top left,url("./image/bg-pattern-bottom-desktop.svg") no-repeat bottom right;
}

main{
    padding: 2rem;
    display: flex;

    flex-direction: column;
    justify-content: center;
}

.sec-one{
    display: flex;
    justify-content: space-between;
}

.text{
    width: 30%;
}

h1,p{
    margin: 1rem 0;
}

h1{
    font-size: 3rem;
    color: var(--clr1);
    font-family: "spartian-B";
}

p{
    font-size: 1rem;
    color: var(--clr3);
    font-family: "spartian-R";
    line-height: 1.4rem;
}



.rated{
    width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
}

.rate{
    background-color: var(--clr4);
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    font-family: "spartian-B";
    display: flex;
    align-items: baseline;
}

.stars{
    margin: 0 0.5rem 0 0 ;
}

.rate:first-of-type{
    align-self: baseline;
}
.rate:nth-child(2){
    align-self: center;
}
.rate:last-of-type{
    align-self: flex-end;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px , 1fr));
    gap: 20px;
}

.card{
    background-color: var(--clr1);
    padding: 10px 30px;
    border-radius: 1rem;
}

.card h5{
    color: var(--clr5);
    font-family: "spartian-M";
}

.card p:nth-child(1){
    font-family: "spartian-R";
    color: var(--clr5);
}

.info{
    display: flex;
    align-items: center;
}

.info-text{
    margin: 0 10px;
}

.info-text p{
    color: var(--clr2);
    font-family: "spartian-M";
    line-height: 0;
}

.info img{
    border-radius: 50%;
}

.card:first-of-type{
    align-self: flex-start;
}

.card:nth-child(2){
    align-self: center;
}

.card:last-of-type{
    align-self: flex-end;
}


